*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* header */
.fanPage {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    background-color: #f6f6f6;
}

.fanPage li a {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 14px;
}

.fanPage img {
    height: 100%;
}

.facebook {
    border-right: 1px solid gainsboro;
}

.facebook p {
    color: #4460a0;
    margin-left: 5px;
}

.twitter p {
    color: #00aaec;
    margin-left: 5px;
}

.facebook p:hover, .twitter p:hover {
    opacity: 0.7;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.menu > ul {
    display: flex;
}

.menu ul a {
    display: block;
    color: #00cc99;
    padding: 10px 20px;
}

.menu ul a:hover, .dropClick.active{
    background-color: #00cc99;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 3;
    background: rgba(255,255,255,0.9);
}

/* content */

.banner {
    position: relative;
    color: white;
    margin-bottom: 40px;
}

.swiper img{
    width: 100%;
    height: 350px;
}

.banner h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: rgb(0, 0, 0, 0.15);
    padding: 20px;
    font-size: 36px;
    line-height: 1.5;
    color: white;
    z-index: 1;
}

.banner .swiper-pagination-bullet-active {
    background-color: #00cc99;
}

.courseList {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.courseItem {
    width: 30%;
    border: 1px solid gainsboro;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 5px 5px gainsboro;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
}

.courseItem a {
    color: black;
}

.courseItem:hover {
    margin-top: -5px;
    box-shadow: 5px 10px 5px gainsboro;
    border-bottom: 6px solid rgb(0, 0, 0, 0);
}

.courseItem img {
    height: 100px;
}

.courseItem h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.courseItem p, .courseItem ul {
    text-align: left;
    line-height: 1.5;
}

.jQueryInfo {
    list-style: inside disc;
}

.courseCompare_header, .contactForm h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.courseCompare_table {
    margin: 0 auto 70px;
    text-align: left;
}

.courseCompare_table thead {
    background-color: #f6f6f6;
    font-weight: bold;
}

.courseCompare_table tr {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.courseCompare_table tr:hover {
    background-color: #f1f1f1;
}

.courseCompare_table th, .courseCompare_table td {
    padding: 10px 70px 10px 30px;
}

.highlight {
    color: #00cc99;    
}

.contactForm {
    background: linear-gradient(#00664d, #009671);
    padding: 30px 0;
}

.contactForm h2 {
    color: white;
    line-height: 1.5;
}

.contactForm form {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.contactForm textarea {
    width: 50%;
    padding: 10px;
}

.userInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.userInfo li {
    margin: 10px 0;
}

.userInfo label {
    display: block;
    margin: 5px 0;
    color: white;
}

.userInfo ul input {
    display: block;
    width: 100%;
    padding: 5px;
}

.userInfo .submit {
    display: block;
    background-color: #00ac81;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    padding: 5px 20px;
    align-self: flex-end;
}

.userInfo .submit:hover {
    cursor: pointer;
    background-color: #06e2ab;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

footer .logo {
    background-image: url("../img/footerLogo.png");
}

.contactUs {
    font-size: 14px;
}

.contactUs a {
    color: #ec7aae;
}

.contactUs a:hover {
    color: #ec4c94;
}

.top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.top img{
    display: block;
    width: 50px;
    height: 50px;
}